PORT=3001
VIDEO_FOLDER_PATH=./uploads
OUTPUT_FOLDER_PATH=./hls

# MINIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=hls

# DRM
DRM_ENABLED=true
LICENSE_SERVICE_URL=http://localhost:4000
SHAKA_PACKAGER_PATH=./bin/packager.exe